@media(max-width: 450px){
    body{
    background-color: rgb(2, 2, 241);
    }
    }
    #navbar {
        position: fixed;
        top: 0px;
        width: 100%;
    }
#welcome {
   background-image: url("https://drive.google.com/file/d/19GAuLov0AHvo4P2a7PuWWQS_KUEO02Mc/view?usp=sharing");
   text-align: center;
}
.projects {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.center {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}